<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p class="ms-3">
      <%= link_to "Show this post", post %> |
      <%= link_to "Create new post", new_post_path %>
    </p>
  <% end %>
</div>


