<div class="card">
  <h1 class="card-header">New post</h1>
<div class = "card-body">
  <%= render "form", post: @post %>

</div>
<div>
  <%= link_to "Back to posts", posts_path, class:"ms-3" %>
</div>
